* {
  max-height: 2000px;
}

body {
  background-image: url(../img/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  height: 150px;
  background-color: black;
  display: flex;
}

img {
  height: 100px;
  margin: auto auto auto 20px;
}

h1 {
  color: white;
  text-align: right;
  font-size: 2cm;
  font-family: 'Varela Round', sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

main {
  background-color: gray;
  margin-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 4px solid white;
  border-style: ;
}

#breakTop {
  height: 100px;
  background-color: red;
  display: flex;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

h2 {
  color: white;
  margin: auto;
  font-size: .5cm;
  font-family: 'Varela Round', sans-serif;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  height: 100px;
  width: 200px;
  word-wrap: break-word;
}

button:hover {
  background-color: yellow;
  box-shadow: 0 0 20px yellow;
}

button>p {
  font-family: 'Varela Round', sans-serif;
}

#breakBottom {
  height: 100px;
  background-color: slateblue;
  position: relative;
  bottom: 100%;
  border-radius: 0px 0px 15px 15px;
}