body { 
    
    width: 905px;
    margin: auto;
    padding-top: 30px;
    background: linear-gradient(90deg, rgba(88,134,246,1) 4%, rgba(160,64,246,1) 100%);
   
  }
.login {
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#login-box { 
    position: relative;
    left: 300px;
    margin-top: 10px;
    height: 450px;
    width: 300px;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
   
}

.username-one{
    padding: 10px;
    margin-top: 40px;
   
}

.password-one{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: transparent;
}
    

.modal {
    display: none;
    /* position: fixed;  */
    padding-top: 20px;
    left: 60; 
    top: 0;
    width: 90px;
    height: 40px; 
   

  }
  .modal-content {
    position: absolute;
    background-color: rgb(250, 206, 189);
    opacity: 0.9px;
    padding: 0px; 
    margin-left: 40px;
    
    /* margin: auto;  */
    width: 200px; 
    height: 30px;
    padding-top: 20px; 
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
  }

  #modal-btn{
    background: linear-gradient(90deg, rgba(88,134,246,1) 4%, rgba(160,64,246,1) 100%);
    border: transparent; 
    /* justify-content: center;
    align-items: center; */
    margin-left: 40px;
    margin-top: 40px;
    width: 200px;
    padding: 20px;

  }

  .close-btn {
    float: left;
    padding-left: 20px;
    padding-right: 8px;
    padding-top: 1px;
    color: black; 
    font-size: 15px;  
    font-weight: bold;


  }
  .close-btn:hover {
    color: red;
  }


  @-webkit-keyframes animatetop {
    from {top:-200px; opacity:0.2} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-200px; opacity:0.2}
    to {top:0; opacity:1}
  }

  
#forgot-password{
    margin-top: 20px;
    text-align: center;
    text-decoration-color: black;
    /* text-decoration: hidden; */
    
}
a:link{
    text-decoration: none;
}

#link{
    color: black;
}

.footer{
    padding-top: 40px;
    text-align: center;
}
input {
    border: 0px;
}
input:focus{
    outline: none;
}