body{
    width: 900px;
    margin: auto;
    border: 1px solid black;
    margin-top: 100px;


}
p{
    text-align: center;
}
.recovery{
    width: 400px;
    height: 50px;
    margin-left: 250px;
    text-align: center;
    border: 1px solid black;
    padding-top: 10px;

}

.reset{
    margin-left: 250px;


}
.reset-header{
border: 1px solid black;
    /* margin-left: 300px; */
    margin-top: 10px;
    height: 450px;
    width: 400px;
  
   
}

.username{
    width: 200px;
    border: 1px solid black;
}

.recover-email{
    border: 1px solid black;
}

.forgot-password-button{
    border: 1px solid black;

}


.forgot{
    text-align: center;
}