body{
    background-color: #006da8;
    /* max-height: 600px; */
}
#main1{
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
}
/* This is the logo guy on the login */
#imageOne{
    width: 200px;
    border-radius: 100px;
    border: black 2px solid;
    position: relative;
    left: 28%;
    margin-top: 150px;
    background-color: lightgrey;
}
/* password/username inputs */
#loginBox{
    width: 400px;
    border: 1px black solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
    border: #006da8;
}
h3{
    padding-left: 5px;
    position: relative;
    bottom: 12px;
    font-size: 14px;
}
h2{
    padding-left: 5px;
    position: relative;
    bottom: 60px;
}
h1{
    position: relative;
    bottom: 80px;
}
#userNameBox{
    display: inline;
    position: relative;
    left: 28%;
}

#passwordBox{
    display: block;
    position: relative;
    margin-top: 35px;
    left: 28%;
}

#loginButton{
    position: relative;
    left: 45%;
}
#userNameInput{
    position: relative;
    top: 22px;
    margin-right: auto;
    margin-left: auto;
}

#userNameData{
    display: inline;
    font-size: 1cm;
    margin-top: 20px;
}

fieldset{
    border: #006da8 2px solid;
}

#recycle{
    width: 80px;
}
#notepad{
    width: 80px;
}
#file{
    width: 80px;
}
#edge{
    width: 80px;
}
#body2{
    margin: 30px 30px 0px 30px;
    background-image: url("https://wallpaperaccess.com/full/2021215.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.icon{
    margin-bottom: 15px;
}
#headerAboutUs{
    font-size: 60px;
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-decoration: underline;
    color: white;
}
.main2{
    margin-top: 100px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}
.h2page2{
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
}

.photo{
    width: 150px;
    position: relative;
    left: 80px;
    bottom: 80px;
    border: white 2px dashed;
}
.classlinks{
    position: relative;
    bottom: 70px;
    left: 100px;

}

h5{
    position: relative;
    text-align: center;
    bottom: 75px;
}
#passwordTextBox{
    color: red;
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#swing{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.hiddenLink{
    color: #006da8;
}
.photo2{
    border: 2px solid white;
}
footer{
    height: 32px;
}

h6{
    font-size: 20px;
    text-align: center;
    top: 200px;
    color: white;
}

#footerDesktop{
    border: 1px black solid;
    position: fixed;
    top: 95%;
    width: 95%;
    background-color: rgb(218, 218, 218);
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
}
#footerImage{
    width: 30px;
    border: 1px solid black;
}

#controlBox{
    border: 2px solid black;
    display: inline-block;
    background-color: gray;
    margin-bottom: 10px;
    visibility: hidden;

}

#uuidParamDataEntry{
    display: inline-block;
    text-align: center;
    color: white;
    border-color: gray;
    background-color: gray;
}

#uuidParamDataEntry fieldset{
    border-color: gray;
}

#uuidParamDataEntry input{
    display: block;
    margin: 10px 0px;
}

fieldset #injectionButton{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

#resetButton {
    display: block;
    margin: auto auto 10px auto;
    border: 2px solid black;
}

#footer3{
    margin-top: 10%;
}