body {
  width: 905px;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(88,134,246,1) 4%, rgba(160,64,246,1) 100%);
}
main {
  height: 550px;
}
header {
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  color: whitesmoke;
}
#headerP {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  /* padding-bottom: 70px; */
}
#securityquestion-box {
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  /* height: 350px; */
  width: 480px;
  background-color: whitesmoke;
  /* border: solid black; */
  border-radius: 10px;
}
.securityquestion {
  padding: 20px;
}
.answer-one {
  margin-top: 15px;
}
input {
  margin-top: 25px;
  
}
footer {
  text-align: center;
}
.answerBox {
  margin-left: 25px;
  padding-bottom: 25px;
}
.firstAnswer {
  position: absolute;
  float: right;
  right: 220px;
  top: 85px;
  padding-bottom: 25px
}
#passwordResetButton {
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  font-size: 20px;
}

p{
  margin-left: 25px;
  margin-top: 15px;
  color: blue;
}

.hidden{
  display: none;
}